services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"

      - "--tracing.otlp=true"
      - "--tracing.capturedRequestHeaders=CF-Ray,X-Real-Ip"

      - "--metrics.otlp=true"
      - "--metrics.otlp.addRoutersLabels=true"

      - "--accesslog=true"
      - "--accesslog.format=json"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - cf_tunnel
      - proxy

networks:
  proxy:
    external: true
  cf_tunnel:
    external: true
