.idea

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.auto.tfvars.local

# Ansible
ansible/group_vars/all.yml
ansible/.ansible
ansible/.vault_pass
.ansible